<% layout('/layouts/default.html', {title: '收款计划管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('收款计划管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('cm:paymentPlan:edit')){ %>
					<a href="${ctx}/cm/paymentPlan/form" class="btn btn-default btnTool" title="${text('新增收款计划')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${paymentPlan}" action="${ctx}/cm/paymentPlan/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('收款名称')}：</label>
					<div class="control-inline">
						<#form:input path="paymentName" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属项目')}：</label>
					<div class="control-inline width-120">
						<#form:select path="paymentProject" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('收款类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="paymentType" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('收款金额')}：</label>
					<div class="control-inline">
						<#form:input path="paymentSum" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('收款金额大写')}：</label>
					<div class="control-inline">
						<#form:input path="paymentSumCa" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属合同')}：</label>
					<div class="control-inline width-120">
						<#form:select path="paymentContract" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('甲方单位')}：</label>
					<div class="control-inline">
						<#form:input path="firstUnit" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('罚款')}：</label>
					<div class="control-inline">
						<#form:input path="penalty" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('扣款')}：</label>
					<div class="control-inline">
						<#form:input path="cutPayment" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('已收款金额')}：</label>
					<div class="control-inline">
						<#form:input path="paymentHasSum" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('已开票金额')}：</label>
					<div class="control-inline">
						<#form:input path="invoiceSum" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('帐号名称')}：</label>
					<div class="control-inline">
						<#form:input path="accName" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('银行账户')}：</label>
					<div class="control-inline">
						<#form:input path="bankAcc" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('签订日期')}：</label>
					<div class="control-inline">
						<#form:input path="signDate" readonly="true" maxlength="20" class="form-control laydate width-date"
							dataFormat="date" data-type="date" data-format="yyyy-MM-dd"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('填报人')}：</label>
					<div class="control-inline">
						<#form:input path="informantUser" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("收款名称")}', name:'paymentName', index:'a.payment_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/cm/paymentPlan/form?numCode='+row.numCode+'" class="btnList" data-title="${text("编辑收款计划")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("所属项目")}', name:'paymentProject', index:'a.payment_project', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
		}},
		{header:'${text("收款类型")}', name:'paymentType', index:'a.payment_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
		}},
		{header:'${text("收款金额")}', name:'paymentSum', index:'a.payment_sum', width:150, align:"left"},
		{header:'${text("收款金额大写")}', name:'paymentSumCa', index:'a.payment_sum_ca', width:150, align:"left"},
		{header:'${text("所属合同")}', name:'paymentContract', index:'a.payment_contract', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
		}},
		{header:'${text("甲方单位")}', name:'firstUnit', index:'a.first_unit', width:150, align:"left"},
		{header:'${text("罚款")}', name:'penalty', index:'a.penalty', width:150, align:"left"},
		{header:'${text("扣款")}', name:'cutPayment', index:'a.cut_payment', width:150, align:"left"},
		{header:'${text("已收款金额")}', name:'paymentHasSum', index:'a.payment_has_sum', width:150, align:"left"},
		{header:'${text("已开票金额")}', name:'invoiceSum', index:'a.invoice_sum', width:150, align:"left"},
		{header:'${text("帐号名称")}', name:'accName', index:'a.acc_name', width:150, align:"left"},
		{header:'${text("银行账户")}', name:'bankAcc', index:'a.bank_acc', width:150, align:"left"},
		{header:'${text("签订日期")}', name:'signDate', index:'a.sign_date', width:150, align:"left"},
		{header:'${text("填报人")}', name:'informantUser', index:'a.informant_user', width:150, align:"left"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('cm:paymentPlan:edit')){ %>
				actions.push('<a href="${ctx}/cm/paymentPlan/form?numCode='+row.numCode+'" class="btnList" title="${text("编辑收款计划")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/cm/paymentPlan/disable?numCode='+row.numCode+'" class="btnList" title="${text("停用收款计划")}" data-confirm="${text("确认要停用该收款计划吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/cm/paymentPlan/enable?numCode='+row.numCode+'" class="btnList" title="${text("启用收款计划")}" data-confirm="${text("确认要启用该收款计划吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/cm/paymentPlan/delete?numCode='+row.numCode+'" class="btnList" title="${text("删除收款计划")}" data-confirm="${text("确认要删除该收款计划吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>