<% layout('/layouts/default.html', {title: '施工班组管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('施工班组管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('ccm:constructionTeam:edit')){ %>
					<a href="${ctx}/ccm/constructionTeam/form" class="btn btn-default btnTool" title="${text('新增施工班组')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<a href="${ctx}/ccm/constructionTeam/form" class="btn btn-default btnTool" title="${text('浏览施工班组')}"><i class="fa fa-book"></i> ${text('浏览')}</a>
				<a href="${ctx}/ccm/constructionTeam/form" class="btn btn-default btnTool" title="${text('批量添加人员')}"><i class="fa fa-plus"></i> ${text('批量添加人员')}</a>
				<a href="${ctx}/ccm/constructionTeam/form" class="btn btn-default btnTool" title="${text('查看施工人员')}"><i class="fa fa-book"></i> ${text('查看施工人员')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${constructionTeam}" action="${ctx}/ccm/constructionTeam/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('班组名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班组长名称')}：</label>
					<div class="control-inline width-120">
						<#form:select path="leader" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班组长联系电话')}：</label>
					<div class="control-inline">
						<#form:input path="leaderPhone" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('项目名称')}：</label>
					<div class="control-inline width-120">
						<#form:select path="projectName" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属企业')}：</label>
					<div class="control-inline width-120">
						<#form:select path="company" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("班组名称")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/ccm/constructionTeam/form?numCode='+row.numCode+'" class="btnList" data-title="${text("编辑施工班组")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("班组长名称")}', name:'leader', index:'a.leader', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
		}},
		{header:'${text("班组长联系电话")}', name:'leaderPhone', index:'a.leader_phone', width:150, align:"left"},
		{header:'${text("项目名称")}', name:'projectName', index:'a.project_name', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
		}},
		{header:'${text("所属企业")}', name:'company', index:'a.company', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('ccm:constructionTeam:edit')){ %>
				actions.push('<a href="${ctx}/ccm/constructionTeam/form?numCode='+row.numCode+'" class="btnList" title="${text("编辑施工班组")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/ccm/constructionTeam/disable?numCode='+row.numCode+'" class="btnList" title="${text("停用施工班组")}" data-confirm="${text("确认要停用该施工班组吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/ccm/constructionTeam/enable?numCode='+row.numCode+'" class="btnList" title="${text("启用施工班组")}" data-confirm="${text("确认要启用该施工班组吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/ccm/constructionTeam/delete?numCode='+row.numCode+'" class="btnList" title="${text("删除施工班组")}" data-confirm="${text("确认要删除该施工班组吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>