<% layout('/layouts/default.html', {title: '产品分类管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('产品分类管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('product:productClassify:edit')){ %>
					<a href="${ctx}/product/productClassify/form" class="btn btn-default btnTool" title="${text('新增产品分类')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${productClassify}" action="${ctx}/product/productClassify/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('产品编号')}：</label>
				</div>
				<div class="form-group">
					<label class="control-label">${text('产品名称')}：</label>
					<div class="control-inline">
						<#form:input path="pmName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('位置')}：</label>
					<div class="control-inline">
						<#form:input path="pmLocation" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('颜色')}：</label>
					<div class="control-inline">
						<#form:input path="pmColor" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('厚度')}：</label>
					<div class="control-inline">
						<#form:input path="pmThickness" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('规格')}：</label>
					<div class="control-inline">
						<#form:input path="pmSpec" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('单价面积')}：</label>
					<div class="control-inline">
						<#form:input path="pmArea" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数量')}：</label>
					<div class="control-inline">
						<#form:input path="pmCount" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('合计面积')}：</label>
					<div class="control-inline">
						<#form:input path="pmTotalArea" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注1')}：</label>
					<div class="control-inline">
						<#form:input path="remarks1" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注2')}：</label>
					<div class="control-inline">
						<#form:input path="remarks2" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注3')}：</label>
					<div class="control-inline">
						<#form:input path="remarks3" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("产品编号")}', name:'numCode', index:'a.num_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/product/productClassify/form?numCode='+row.numCode+'" class="btnList" data-title="${text("编辑产品分类")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("产品名称")}', name:'pmName', index:'a.pm_name', width:150, align:"left"},
		{header:'${text("位置")}', name:'pmLocation', index:'a.pm_location', width:150, align:"left"},
		{header:'${text("颜色")}', name:'pmColor', index:'a.pm_color', width:150, align:"center"},
		{header:'${text("厚度")}', name:'pmThickness', index:'a.pm_thickness', width:150, align:"left"},
		{header:'${text("规格")}', name:'pmSpec', index:'a.pm_spec', width:150, align:"left"},
		{header:'${text("单价面积")}', name:'pmArea', index:'a.pm_area', width:150, align:"left"},
		{header:'${text("数量")}', name:'pmCount', index:'a.pm_count', width:150, align:"left"},
		{header:'${text("合计面积")}', name:'pmTotalArea', index:'a.pm_total_area', width:150, align:"left"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('product:productClassify:edit')){ %>
				actions.push('<a href="${ctx}/product/productClassify/form?numCode='+row.numCode+'" class="btnList" title="${text("编辑产品分类")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/product/productClassify/disable?numCode='+row.numCode+'" class="btnList" title="${text("停用产品分类")}" data-confirm="${text("确认要停用该产品分类吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/product/productClassify/enable?numCode='+row.numCode+'" class="btnList" title="${text("启用产品分类")}" data-confirm="${text("确认要启用该产品分类吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/product/productClassify/delete?numCode='+row.numCode+'" class="btnList" title="${text("删除产品分类")}" data-confirm="${text("确认要删除该产品分类吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>